### Python Classes 
    -Tuple ()
    -List []
    -Dictionary {}
    
### Pandas Classes
    -Series ([])
        variable = pd.Series(["","","","",""])
    -List of Dictionary ([{}])
        variable = pd.DataFrame[{"":"","":""},{"":"","":""},{"":"","":"",}]
    -Dictionary of lists ({[]})
        variable = pd.DataFrame({"":["","",""], "":["","",""], "":["","",""]})

In [6]:
import pandas as pd

# create a panda series with .Series use (.Series) is case sensitive
# data_series = pd.Series([])

data_series = pd.Series(["UCLA", "UC Berkeley", "UC Irvine", "University of Central Florida", "Rutgers University"])

data_series # displays the Series

0                             UCLA
1                      UC Berkeley
2                        UC Irvine
3    University of Central Florida
4               Rutgers University
dtype: object

In [2]:
import pandas as pd

# Convert a list [] of dictionarys {} into a dataframe using pd.DataFrame

states_dicts = [{"STATE": "New Jersey", "ABBREVIATION": "NJ","Capitol":"Treton"},
                {"STATE": "New York", "ABBREVIATION": "NY","Capitol":"Albany"},
               {"STATE": "New Mexico", "ABBREVIATION": "NM","Capitol":"Santa Fe"},
               {"STATE": "California", "ABBREVIATION": "CA","Capitol":"Sacramento"},
               {"STATE": "Florida", "ABBREVIATION": "FL","Capitol":"Tallahassee"}]

df_states = pd.DataFrame(states_dicts)
df_states

  ABBREVIATION      Capitol       STATE
0           NJ       Treton  New Jersey
1           NY       Albany    New York
2           NM     Santa Fe  New Mexico
3           CA   Sacramento  California
4           FL  Tallahassee     Florida

In [18]:
# variable = pd.DataFrame({"":["","",""], "":["","",""]})

import pandas as pd

df = pd.DataFrame(
    {"Dynasty": ["Early Dynastic Period", "Old Kingdom"],
     "Pharoh": ["Thinis", "Memphis"]
     }
)

df

                 Dynasty   Pharoh
0  Early Dynastic Period   Thinis
1            Old Kingdom  Memphis

In [5]:
# Method 01 written row by row

import pandas as pd

DF = [{"Frame":"","Price":"","Sales":""},
    {"Frame":"","Price":"","Sales":""},
    {"Frame":"","Price":"","Sales":""}]

dfp = pd.DataFrame(DF)
dfp

  Frame Price Sales
0     1
1     1
2     1

In [4]:
# Method 02 written column by column

import pandas as pd

DF = pd.DataFrame({
    "Painting": ["","","","",""],
    "Price": ["","","","",""],
    "Popularity": ["","","","",""],
    })

DF

  Painting Price Popularity
0
1
2
3
4

In [29]:
# Methods of creating DataFrame #1 row by row v1
variable = [{"Painting":"Painting 11","Price":10},
             {"Painting":"Painting 21","Price":20},
             {"Painting":"Painting 31","Price":30},
            ]
variable = pd.DataFrame(variable)
variable

      Painting  Price
0  Painting 11     10
1  Painting 21     20
2  Painting 31     30

In [28]:
# Methods of creating DataFrame #2 row by row v2
variable2 = pd.DataFrame([{"Painting":"Painting 21","Price":10},
             {"Painting":"Painting 22","Price":20},
             {"Painting":"Painting 23","Price":30},
            ])
variable2

      Painting  Price
0  Painting 21     10
1  Painting 22     20
2  Painting 23     30

In [31]:
# Methods of creating DataFrame #3 column by column v1

variable3 = {"Painting":["Painting 31", "Painting 32", "Painting 33"],
           "Price":[10, 20, 30]}
variable3 = pd.DataFrame(variable3)
variable3

      Painting  Price
0  Painting 31     10
1  Painting 32     20
2  Painting 33     30

In [32]:
# Methods of creating DataFrame #4 column by column v2

variable4 = pd.DataFrame({"Painting":["Painting 41", "Painting 42", "Painting 43"],
           "Price":[10, 20, 30]})
variable4

      Painting  Price
0  Painting 41     10
1  Painting 42     20
2  Painting 43     30