In [1]:
import pandas as pd
import numpy as np

In [4]:
np.random.randint(low = 15000, high = 73000, size = 81, dtype = int)

array([32897, 57263, 43483, 28180, 24360, 69650, 44105, 58602, 31322,
       67813, 26132, 21818, 71774, 67132, 71336, 52797, 59067, 24423,
       27371, 68482, 60298, 22231, 49441, 48364, 65459, 40015, 27670,
       26660, 51338, 39552, 35347, 36794, 30767, 23285, 28720, 51741,
       42360, 49406, 52383, 35127, 27994, 49706, 16513, 42161, 56430,
       33600, 40917, 53382, 67679, 44436, 41790, 67760, 29627, 68606,
       40398, 20354, 51077, 45934, 49071, 33198, 20304, 25797, 44348,
       15937, 60172, 48728, 38177, 23479, 31188, 51657, 23559, 40226,
       61949, 67788, 58238, 59118, 30791, 30669, 61531, 26268, 53513])

In [5]:
# Create a DataFrame of frames using a dictionary of lists
# Dictionary of lists ({[]})
# Creates columns of values (column by column)

frames_df = pd.DataFrame({"Frame":["Ornate","Classical","Modern","Wood","Cardboard"],
                          "Prices":[15.00,12.50,10.00,5.00,1.00],
                          "Sales":[100,200,150,300,"N/A"]})
frames_df

       Frame  Prices Sales
0     Ornate    15.0   100
1  Classical    12.5   200
2     Modern    10.0   150
3       Wood     5.0   300
4  Cardboard     1.0   N/A

In [6]:
# Create a DataFrame of paintings using a list of dictionaries
# List of Dictionary ([{}])
# Creates rows of values (row by row)

paintings_df = pd.DataFrame([{"Painting":"Mona Lisa (Knockoff)", "Price":25, 
                              "Popularity":"Very Popular"},
                             {"Painting":"Van Gogh (Knockoff)",
                             "Price":20, "Popularity":"Popular"},
                            {"Painting":"Starving Artist","Price":10,
                            "Popularity":"Average"}])
paintings_df

               Painting    Popularity  Price
0  Mona Lisa (Knockoff)  Very Popular     25
1   Van Gogh (Knockoff)       Popular     20
2       Starving Artist       Average     10