In [1]:
import pandas as pd

In [2]:
file = "Week_04_Pandas_CSV_XLSX/sampleData.csv"

In [3]:
df_original = pd.read_csv(file)
df_original.head()

   id first_name   last_name       Phone Number      Time zone
0   1      Peter  Richardson    7-(789)867-9023  Europe/Moscow
1   2     Janice       Berry   86-(614)973-1727    Asia/Harbin
2   3     Andrea      Hudson   86-(918)527-6371  Asia/Shanghai
3   4     Arthur    Mcdonald  420-(553)779-7783  Europe/Prague
4   5      Kathy     Morales  351-(720)541-2124  Europe/Lisbon

In [6]:
# set index to last name using .set_index("last_name")

df_index_lastname = df_original.set_index("last_name")
df_index_lastname.head()

            id first_name       Phone Number      Time zone
last_name
Richardson   1      Peter    7-(789)867-9023  Europe/Moscow
Berry        2     Janice   86-(614)973-1727    Asia/Harbin
Hudson       3     Andrea   86-(918)527-6371  Asia/Shanghai
Mcdonald     4     Arthur  420-(553)779-7783  Europe/Prague
Morales      5      Kathy  351-(720)541-2124  Europe/Lisbon

In [9]:
df_index_firstname = df_original.set_index("first_name")
df_index_firstname.head()

            id   last_name       Phone Number      Time zone
first_name
Peter        1  Richardson    7-(789)867-9023  Europe/Moscow
Janice       2       Berry   86-(614)973-1727    Asia/Harbin
Andrea       3      Hudson   86-(918)527-6371  Asia/Shanghai
Arthur       4    Mcdonald  420-(553)779-7783  Europe/Prague
Kathy        5     Morales  351-(720)541-2124  Europe/Lisbon

In [21]:
# Grab the data contained within the "Berry" row and the "Phone Number" column
# NOTE: Can only do this for Berry because Berry is now set as the index
# using df.loc["",""] and df.iloc[#,#]
# df.loc["row name", "column name"]
# df.iloc[row#, column#]

# variable = df.loc["",""] or df.iloc[#,#]
# df with Berry set as the index is called df_original

berry_phone = df_index_lastname.loc["Berry", "Phone Number"]

print(df_index_lastname.loc["Richardson","Time zone"]) # 2 Richardson Printed because there are two in the .csv file
print(df_index_lastname.loc["Hudson","Time zone"])

last_name
Richardson    Europe/Moscow
Richardson     Asia/Jakarta
Name: Time zone, dtype: object
last_name
Hudson     Asia/Shanghai
Hudson    America/Bogota
Hudson     Europe/Lisbon
Name: Time zone, dtype: object

In [25]:
# Do the above using df.iloc[row#, column#] for Morales
# index starts at 0, so Morales row = 4, column index starts at id = 0, so Phone Number = 2

morales_phone = df_index_lastname.iloc[4,2]
print(morales_phone)

351-(720)541-2124

In [33]:
# Grab the first 5 rows of data and columns from "id" to "Phone Number"
# Using df.loc[["","",""],["","",""]] 
# will find duplicates because "last_name" as index has duplicate values

richardson_to_morales = df_index_lastname.loc[["Richardson","Berry","Hudson","Mcdonald","Morales"],["id","first_name","Phone Number"]]
print(richardson_to_morales)

            id first_name       Phone Number
last_name
Richardson   1      Peter    7-(789)867-9023
Richardson  25     Donald   62-(259)282-5871
Berry        2     Janice   86-(614)973-1727
Hudson       3     Andrea   86-(918)527-6371
Hudson       8    Frances   57-(752)864-4744
Hudson      90      Norma  351-(551)598-1822
Mcdonald     4     Arthur  420-(553)779-7783
Morales      5      Kathy  351-(720)541-2124

In [31]:
# Do the above using .iloc[]

richardson_to_morales_iloc = df_index_lastname.iloc[0:4, 0:3] # NOTE: 4 and 3 is not included
print(richardson_to_morales_iloc)

            id first_name       Phone Number
last_name
Richardson   1      Peter    7-(789)867-9023
Berry        2     Janice   86-(614)973-1727
Hudson       3     Andrea   86-(918)527-6371
Mcdonald     4     Arthur  420-(553)779-7783

In [35]:
# Now include only Phone Number and Time zone

richardson_to_morales_iloc = df_index_lastname.iloc[0:5, 2:4]
print(richardson_to_morales_iloc)

                 Phone Number      Time zone
last_name
Richardson    7-(789)867-9023  Europe/Moscow
Berry        86-(614)973-1727    Asia/Harbin
Hudson       86-(918)527-6371  Asia/Shanghai
Mcdonald    420-(553)779-7783  Europe/Prague
Morales     351-(720)541-2124  Europe/Lisbon

In [37]:
# use loc and select only the first_name and Phone Number column

df_index_lastname.loc[:, ["first_name","Phone Number"]].head() # [:,] includes all the rows

           first_name       Phone Number
last_name
Richardson      Peter    7-(789)867-9023
Berry          Janice   86-(614)973-1727
Hudson         Andrea   86-(918)527-6371
Mcdonald       Arthur  420-(553)779-7783
Morales         Kathy  351-(720)541-2124

In [39]:
df_index_lastname.loc[["Richardson","Berry","Hudson"],:].head(10)

            id first_name       Phone Number       Time zone
last_name
Richardson   1      Peter    7-(789)867-9023   Europe/Moscow
Richardson  25     Donald   62-(259)282-5871    Asia/Jakarta
Berry        2     Janice   86-(614)973-1727     Asia/Harbin
Hudson       3     Andrea   86-(918)527-6371   Asia/Shanghai
Hudson       8    Frances   57-(752)864-4744  America/Bogota
Hudson      90      Norma  351-(551)598-1822   Europe/Lisbon

In [41]:
# Logic test returns a series of booleans

named_billy = df_original["first_name"] == "Billy"
named_billy.head()

0    False
1    False
2    False
3    False
4    False
Name: first_name, dtype: bool

In [49]:
named_berry = df_original["last_name"] == "Berry"
named_berry.head()

0    False
1     True
2    False
3    False
4    False
Name: last_name, dtype: bool

In [51]:
# Can't do Logical test if last_name is the index

named_berry = df_index_lastname["last_name"] == "Berry"
named_berry.head()

KeyError: 'last_name'

In [57]:
# Conditionals using .loc[] and .iloc[]

only_billys = df_index_lastname.loc[df_index_lastname["first_name"] == "Billy", :]
print(only_billys)

           id first_name      Phone Number       Time zone
last_name
Clark      20      Billy  62-(213)345-2549   Asia/Makassar
Andrews    23      Billy  86-(859)746-5367  Asia/Chongqing
Price      59      Billy  86-(878)547-7739   Asia/Shanghai

In [64]:
# Multiple conditions can be used to narrow or widen filter using .loc[()|()]

only_billy_and_peter = df_index_lastname.loc[(df_index_lastname["first_name"] == "Billy") | (
                        df_index_lastname["first_name"] == "Peter"), :]

print(only_billy_and_peter)

            id first_name      Phone Number       Time zone
last_name
Richardson   1      Peter   7-(789)867-9023   Europe/Moscow
Clark       20      Billy  62-(213)345-2549   Asia/Makassar
Andrews     23      Billy  86-(859)746-5367  Asia/Chongqing
Price       59      Billy  86-(878)547-7739   Asia/Shanghai