In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "Week_04_Pandas_CSV_XLSX/donors2008.csv"

In [4]:
donors08_df = pd.read_csv(file, encoding="ISO-8859-1")
donors08_df.head()

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH  03833   100.0     NaN

In [5]:
donors08_df.columns

Index(['LastName', 'FirstName', 'Employer', 'City', 'State', 'Zip', 'Amount',
       'FIELD8'],
      dtype='object')

In [4]:
# Delete column FIELD8 using del df[""]

del donors08_df["FIELD8"]
donors08_df.head()

  LastName FirstName          Employer      City State    Zip  Amount
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0
3    Adams  Lorraine              Self  New York    NY  10026   200.0
4    Adams    Marion              None    Exeter    NH  03833   100.0

In [5]:
# Identify incomplete rows using df.count()
# Identifies N/A and omit from count

donors08_df.count() # Employer row is incomplete because it has 33 less values than the rest

LastName     1776
FirstName    1776
Employer     1743
City         1776
State        1776
Zip          1776
Amount       1776
dtype: int64

In [6]:
# Drop all rows with missing information using df.dropna(how="any")

donors08_df = donors08_df.dropna(how="any")
donors08_df.count()

LastName     1743
FirstName    1743
Employer     1743
City         1743
State        1743
Zip          1743
Amount       1743
dtype: int64

In [7]:
# Identify column data type using df.dtypes

donors08_df.dtypes

LastName      object
FirstName     object
Employer      object
City          object
State         object
Zip           object
Amount       float64
dtype: object

In [10]:
donors08_df["Amount"].head()

0    500.0
1    200.0
2    500.0
3    200.0
4    100.0
Name: Amount, dtype: float64

In [14]:
donors08_df["Employer"].head()

0    State Department
1         Abadi & Co.
2             Retired
3                Self
4                None
Name: Employer, dtype: object

In [17]:
# Convert Amount Data Type to Numeric using pd.to_numeric()

donors08_df["Amount"] = pd.to_numeric(donors08_df["Amount"])

In [18]:
donors08_df["Amount"].dtypes

dtype('float64')

In [23]:
# Display an overview of the Employers Column using df[""].value_counts()

donors08_df["Employer"].value_counts()

None                                           249
Self                                           241
Retired                                        126
Self Employed                                   39
Self-Employed                                   34
Google                                           6
Unemployed                                       4
Not Employed                                     4
University of California                         3
Bank Of America                                  3
Social Security Administration                   3
Mayer Brown LLP                                  2
Federal Government                               2
State Department                                 2
LMI                                              2
CSC                                              2
Hugo Neu Corporation                             2
Newton Public Schools                            2
University Hospital                              2
Davis Polk & Wardwell                            2
Covington & Burling                              2
Ariel Investments                                2
Northern Trust                                   2
Microsoft                                        2
ExxonMobil                                       2
Rainey Cluss LLC                                 2
Freelance                                        2
United Health Group                              2
University of Michigan                           2
Henry Crown & Company                            2
                                              ...
NIH/DHHS                                         1
Rmc Project Management, Inc.                     1
Julie Barnes, PhD                                1
NYU                                              1
J.P. Morgan Securities Inc.                      1
Abbott                                           1
GeoCGI                                           1
Howrey LLP                                       1
Derivix Corp                                     1
Kaplan, Strangis, & Kaplan                       1
NCR Corporation                                  1
Dewey, Cheetham & Howe                           1
Presidio School Of Management                    1
Hepler Broom                                     1
RegentAtlantic Capital LLC                       1
Clark/Kent Enterprises, Inc.                     1
Tommy Hilfiger                                   1
Prairie View A & M University                    1
Montg Cnty, Md                                   1
Pace Law School                                  1
The Boeing Company                               1
Zuckerman Spaeder                                1
University of Arkansas for Medical Sciences      1
Briarwood School                                 1
Sandy River Health Systems                       1
Genworth Financial                               1
Greater Properties,Inc                           1
Harmonic, Inc.                                   1
B&F Consulting                                   1
Bob Evans                                        1
Name: Employer, Length: 1011, dtype: int64

In [24]:
donors08_df.describe()

            Amount
count  1743.000000
mean    640.124750
std    1242.343265
min       5.000000
25%     200.000000
50%     250.000000
75%     500.000000
max    5000.000000